<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TO-DO</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" type="image/x-icon" href="/images/TO.png">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="box heading">
      <h1><%=mark%> </h1>
      <img class="logo" src="/images/logo.png" alt="logo">
    </div>

    <div class="box">
      <%  for(var i=0;i<itm.length ;i++){ %>

        <div  class="item">
          <form class="check" action="/delete" method="post">
            <input type="checkbox" name="check" value="<%=itm[i]._id %>" onChange="this.form.submit()">
            <p><%=itm[i].name%></p>
            <input type="hidden" name="listname" value="<%=mark%>">
          </form>

        </div>
      <%  } %>
    </div>


    <form class="formadd" action="/" method="post">
      <input type="text" name="task" placeholder="Enter a task" autocomplete="off">
      <button class="add" type="submit" name="submit" value="<%=mark%>">+</button>
    </form>
    <form class="" action="/reset" method="post">
      <button class="reset" type="submit" name="button" value="<%=mark%>">reset</button>
    </form>

    <%- include("footer") -%>
  </body>
</html>
